<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UYP Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/static/js/addClass.js"></script>
     <div class="error-messages" style="display:none;"></div>

    <script>
function validate()
{
	var cname = document.forms["RegForm"]["className"];
	var roomn = document.forms["RegForm"]["roomNo"];
	var capac = document.forms["RegForm"]["capacity"];
	var letters = /^[A-Za-z]+$/;
	var numbers = /^[0-9]+$/;
	var phoneno = /^\d{10}$/;
	var date =/^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;
	var letterNumber = /^[0-9a-zA-Z _]+$/;
	var letterspace = /^[A-Za-z ]+$/;
	var className =/^[A-Za-z,? _'0-9]+$/;
	var code = code123;

	if (!cname.value.match(className))
	{
	    cname.style.backgroundColor = "pink";
		return false;
	}else{
	    cname.style.backgroundColor = "white";
    }

    if (!roomn.value.match(letters))
	{
		roomn.style.backgroundColor = "pink";
		return false;
	}else{
	    roomn.style.backgroundColor = "white";
    }

    if (!capac.value.match(letterNumber))
	{
		capac.style.backgroundColor = "pink";
		return false;
	}else{
	    capac.style.backgroundColor = "white";
    }

	return true;
}</script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation" ><a href="showPersonnelCourses">Home</a></li>
              <li role="presentation" ><a href="showPersonnelApproval">Student Approval</a></li>
              <li role="presentation"><a href="showStudentSearch">Student Search</a></li>
              <li role="presentation" class="active"><a href="showPersonnelCourses">Courses</a></li>
              <li role="presentation"><a href="#">Export</a></li>
              <li role="presentation"><a href = '/logout'>Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">UYP Summer 2019</h3>
      </div>

      <div class="jumbotron">
        <h1>Edit Class</h1>
        <form id="regist" name="RegForm" onsubmit="return validate()" action="{{ url_for('afterAddedClass') }}" method="post" class="form-signin">
            {% for user in data %}
                <label for="inputClassName">Class Name</label>
                <input type="text" name="className" id="inputClassName" required="required" class="form-control" placeholder="Class Name" value={{ user[1] }}>
                <label for="inputInstructorID">Instructor ID</label>
                <label for="inputInstructorID">Instructor</label>
                <select id="inputInstructorID" name="instructorID" required="required" class="form-control">
                    <option selected>{{ user[2] }}</option>
                    {% for item in obj %}
                        <option value={{ item[0] }}>{{ item[1] }} {{ item[2] }} {{ item[3] }}</option>
                    {% endfor %}
                </select>

                <label for="inputBuilding">Building</label>
                <!--<input type="text" name="building" class="form-control" required="required" id="inputBuilding" placeholder="Building Name"> -->
                <select id="inputBuilding" name="building" required="required" class="form-control">
                        <option selected>{{ user[6] }}</option>
                        <option id="HO" value="HoSchaf">HoSchaf</option>
                        <option id="MG" value="MGJ">MGJ</option>
                        <option id="MO" value="Moody">Moody</option>
                        <option id="MM" value="MMSCI">MMSCI</option>
                        <option id="SD" value="SDRCH">SDRCH</option>
                </select>
                <label for="inputRoomNo">Room Number</label>
                <input type="text" name="roomNo" class="form-control" required="required" id="inputRoomNo" placeholder="Room Number" value={{ user[7] }}>
                <label for="inputSession">Session</label>
                <!-- <input type="text" name="session" class="form-control" required="required" id="inputSession" placeholder="Session"> -->
                <select id="inputSession" name="session" required="required" class="form-control">
                        <option selected>{{ user[3] }}</option>
                        <option id="ON" value="1">1</option>
                        <option id="TW" value="2">2</option>
                        <option id="TH" value="3">3</option>
                </select>
                <label for="inputLevel">Level</label>
                <!-- <input type="text" name="session" class="form-control" required="required" id="inputSession" placeholder="Session"> -->
                <select id="inputLevel" name="level" required="required" class="form-control">
                        <option selected>{{ user[4] }}</option>
                        <option id="FO" value="4th-5th">4th-5th</option>
                        <option id="SI" value="6th-8th">6th-8th</option>
                        <option id="NI" value="9th-12th">9th-12th</option>
                </select>
                <label for="inputCapacity">Capacity</label>
                <input type="text" name="capacity" class="form-control" required="required" id="inputCapacity" placeholder="{{ user[8] }}" value="{{ user[8] }}">
                <label for="inputStartTime">Time Slot</label>
                <input type="text" name="timeSlot" class="form-control" required="required" id="inputTimeSlot" placeholder="{{ user[8] }}" value="{{ user[5] }}">
            {% endfor %}
        <br>
        <input id="btnAddClass" type="submit" class="btn btn-primary">
      </form>
      </div>

      <footer class="footer">
        <p>&copy; UYP 2018</p>
      </footer>

    </div>
  </body>
</html>