<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UYP Courses</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <div class="error-messages" style="display:none;"></div>
      <script src="/static/js/signIn.js"></script>

  </head>
  
  <body>
	<div class="container">
	  <div class="header">
	    <nav>
		  <ul class="nav nav-pills pull-right">
		    <li role="presentation"><a href="main">Home</a></li>
			<li role="presentation"><a href="#">Approval</a></li>
			<li role="presentation"><a href="#">Student Search</a></li>
			<li role="presentation" class="active"><a href="#">Courses</a></li>
		</nav>
		<h3 class="text-muted">UYP Summer 2019</h3>
	  </div>
	  <div class="jumbotron">
	    <h1>Courses</h1>
		<table>
		  <tr>
		    <th>Testing</th>
			<th>One</th>
			<th>Two</th>
		  </tr>
		  <tr>
		    <td>Testing</td>
			<td>One</td>
			<td>Two</td>
		  </tr>
		<table>
	  </div>
	</div>
  </body>
</html>