<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UYP Courses</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <div class="error-messages" style="display:none;"></div>
      <script src="/static/js/personnel_editClass.js"></script>
      <script src="/static/js/addClass.js"></script>
      <script>
          function validate(){
              var id = document.forms["EditClassInfo"]["EditedCourseID"];
              var ses = document.forms["EditClassInfo"]["EditedCourseSession"];
              var mssg = "";
              var validID = /^[0-9]+$/;
              if(id.value.length > 0 && id.value.match(validID)){
                  mssg += "id = " + id.value + "\n";
                  if(ses.value != "Select"){
                      mssg += "session = " + ses.value;
                      window.alert(mssg);
                  }
                  else{
                      window.alert("Must Select Session");
                  }
              }
              /*else{
                  window.alert("ID not valid");
              }*/
          }
      </script>
      <script>
          function submitForm(action){
             console.log(action);
            if(action == 'exportClasses'){
                var link = document.createElement("a");
                link.download = "uypCourses.csv";
                link.href = "/exportClasses";
                link.click();
                document.getElementById('listclassesform').action = 'showPersonnelCourses'
            }
            else{
                document.getElementById('listclassesform').action = action;
                document.getElementById('listclassesform').submit();
            }
          }
      </script>
      <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
  </head>

  <body>
	<div class="container">
	  <div class="header">
	    <nav>
		  <ul class="nav nav-pills pull-right">
		    <li role="presentation" ><a href="/showPersonnelCourses">Home</a></li>
            <li role="presentation"><a href="/showPersonnelApproval">Student Approval</a></li>
            <li role="presentation"><a href="/showStudentSearch">Student Search</a></li>
            <li role="presentation" class="active"><a href="/showPersonnelCourses">Courses</a></li>
            <li role="presentation"><a href="#">Export</a></li>
            <li role="presentation"><a href = '/logout'>Logout</a></li>
          </ul>
		</nav>
		<h3 class="text-muted">UYP Summer 2019</h3>
	  </div>
	  <div id="displayArea" class="jumbotron">
	    <h1>Courses</h1>
        <form id="listclassesform" onsubmit="return validate()" method="post" name="EditClassInfo" class="form-signin">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <h4>Add a Course</h4>
                    <input name="btnAddClass" type="submit" onclick="submitForm('showAddClass')" value="Add" class="btn btn-primary">
                </div>
                <div class="form-group col-md-4">
                    <h4>Edit a Course</h4>
                    <label for="EditedCourseID">Course ID</label>
                    <input type="text" name="EditedCourseID" class="form-control" placeholder="Course ID">
                    <br>
                    <input name="btnEditClass1" type="submit" onclick="submitForm('showPersonnelEditCourse')" value="Edit" class="btn btn-primary">
                </div>

                <!-- FOR DROPPING A COURSE HAVE TO FIX BUTTON -->
                <div class="form-group col-md-4">
                    <h4>Drop a Course</h4>
                    <label for="EditedCourseID">Course ID</label>
                    <input type="text" name="droppedCourseID" class="form-control" placeholder="Course ID">
                    <br>
                    <input name="btnDrop" type="submit" onclick="submitForm('personnelDropCourse')" value="Drop" class="btn btn-primary">
                </div>

            </div>
        </form>
        <table id="classList">
            <tr id="headerRow">
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Instructor ID</th>
                <th>Session</th>
                <th>Level</th>
                <th>Time Slot</th>
                <th>Building</th>
                <th>Room Number</th>
                <th>Capacity</th>
                <th>Course Size</th>
                <th>Waitlist Size</th>
            </tr>
            {% for user in data %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{{ user[4] }}</td>
                        <td>{{ user[5] }}</td>
                        <td>{{ user[6] }}</td>
                        <td>{{ user[7] }}</td>
                        <td>{{ user[8] }}</td>
                        <td>{{ user[9] }}</td>
                        <td>{{ user[10] }}</td>
                    </tr>
                {% endfor %}
        </table>
        <br>
        <div class="form-group col-md-4">
        </div>
      </div>
	</div>
  </body>
</html>