<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UYP Courses</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <div class="error-messages" style="display:none;"></div>
      <script src="/static/js/signIn.js"></script>
      <!--<script>
        var x = document.getElementById("class table");
        function displayClasses(){
          window.open();
          x.innerHTML = "<tr>\n" +
              "\t\t    <th>Testing</th>\n" +
              "\t\t\t<th>One</th>\n" +
              "\t\t\t<th>Two</th>\n" +
              "\t\t  </tr>\n" +
              "\t\t  <tr>\n" +
              "\t\t    <td>Testing</td>\n" +
              "\t\t\t<td>One</td>\n" +
              "\t\t\t<td>Two</td>\n" +
              "\t\t  </tr>";
        }
      </script>-->
      <script>
          function validate(){
              var id = document.forms["EditClassInfo"]["EditedCourseID"];
              var ses = document.forms["EditClassInfo"]["EditedCourseSession"];
              var mssg = "";

              var validID = /^[0-9]+$/;
              if(id.value.length > 0 && id.value.match(validID)){
                  mssg += "id = " + id.value + "\n";
                  if(ses.value != "Select"){
                      mssg += "session = " + ses.value;
                      window.alert(mssg);
                  }
                  else{
                      window.alert("Must Select Session");
                  }
              }
              else{
                  window.alert("ID not valid");
              }
          }
      </script>
      <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
  </head>
  
  <body>
	<div class="container">
	  <div class="header">
	    <nav>
		  <ul class="nav nav-pills pull-right">
		    <li role="presentation"><a href="main">Home</a></li>
			<li role="presentation"><a href="#">Approval</a></li>
			<li role="presentation"><a href="#">Student Search</a></li>
			<li role="presentation" class="active"><a href="#">Courses</a></li>
          </ul>
		</nav>
		<h3 class="text-muted">UYP Summer 2019</h3>
	  </div>
	  <div id="displayArea" class="jumbotron">
	    <h1>Courses</h1>
        <form onsubmit="validate()" name="EditClassInfo" class="form-signin">
            <div class="form-row">
                <h4>Class you want to Edit</h4>
                <label for="EditedCourseID">Couse ID</label>
                <input type="text" name="EditedCourseID" class="form-control" placeholder="Course ID">
                <select class="form-control" name="EditedCourseSession">
                    <option value="Select" selected>Select Session...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <button name="Edit Class" type="submit" value="Edit" class="btn btn-primary">Edit Class</button>
            </div>
        </form>
        <table id="classList">
            <tr id="headerRow">
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Instructor ID</th>
                <th>Session</th>
                <th>Level</th>
                <th>Time Slot</th>
                <th>Building</th>
                <th>Room Number</th>
                <th>Capacity</th>
                <th>Course Size</th>
                <th>Waitlist Size</th>
            </tr>
            {% for user in data %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{{ user[4] }}</td>
                        <td>{{ user[5] }}</td>
                        <td>{{ user[6] }}</td>
                        <td>{{ user[7] }}</td>
                        <td>{{ user[8] }}</td>
                        <td>{{ user[9] }}</td>
                        <td>{{ user[10] }}</td>
                    </tr>
                {% endfor %}
        </table>
      </div>
	</div>
  </body>
</html>