<!DOCTYPE html>
<html lang="en">

<head>
    <title>UYP - Student Information</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/signUp.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
function validate()
{
    var fname = document.forms["RegForm"]["firstName"];
	var initial = document.forms["RegForm"]["initial"];
	var lname = document.forms["RegForm"]["lastName"];
	var suffix = document.forms["RegForm"]["suffix"];
	var preName = document.forms["RegForm"]["preferredName"]
	var address = document.forms["RegForm"]["address"];
	var city = document.forms["RegForm"]["city"];
	var state = document.forms["RegForm"]["state"];
	var zip = document.forms["RegForm"]["zip"];
	var dob = document.forms["RegForm"]["dob"];
	var gender = document.forms["RegForm"]["gender"];
	var race = document.forms["RegForm"]["race"];
	var email = document.forms["RegForm"]["email"];
	var phone = document.forms["RegForm"]["phoneNumber"];
	var siblings = document.forms["RegForm"]["siblings"];
	var healthConditions = document.forms["RegForm"]["healthConditions"];
	var disability = document.forms["RegForm"]["disability"];
	var sn = document.forms["RegForm"]["schoolName"];
	var sd = document.forms["RegForm"]["schoolDistrict"];
	var st = document.forms["RegForm"]["schoolType"];
	var gif = document.forms["RegForm"]["gradeInFall"];
	var gt = document.forms["RegForm"]["gt"];
	var ell = document.forms["RegForm"]["ell"];
	var graddate = document.forms["RegForm"]["gradDate"];
	var exphs = document.forms["RegForm"]["expHighSchool"];
	var dateofReg = document.forms["RegForm"]["dateOfRegistration"];
	var letters = /^[A-Za-z]+$/;
	var numbers = /^[0-9]+$/;
	var phoneno = /^\d{10}$/;
	var date =/^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;
	var letterNumber = /^[0-9a-zA-Z _]+$/;
	var letterspace = /^[A-Za-z, _]+$/;

	if (!fname.value.match(letters))
	{
	    fname.style.backgroundColor = "pink";
		return false;
	}else{
	    fname.style.backgroundColor = "white";
    }

	if (initial.value.length > 1 || initial.required)
	{
		initial.style.backgroundColor = "pink";
		return false;
	}else{
	    initial.style.backgroundColor = "white";
    }

	if (!lname.value.match(letters))
	{
		lname.style.backgroundColor = "pink";
		return false;
	}else{
	    lname.style.backgroundColor = "white";
    }

	if (suffix.value.length > 1 && !suffix.value.match(letters))
	{
		suffix.style.backgroundColor = "pink";
		return false;
	}else{
	    suffix.style.backgroundColor = "white";
    }

    if (preName.value.length > 1 && !preName.value.match(letters))
	{
		preName.style.backgroundColor = "pink";
		return false;
	}else{
	    preName.style.backgroundColor = "white";
    }

	if (email.value.length > 1 && email.value.indexOf(".", 0) < 0)
	{
		email.style.backgroundColor = "pink";
		return false;
	}else{
	    email.style.backgroundColor = "white";
    }

	if (phone.value.length > 1 && !phone.value.match(phoneno))
	{
		phone.style.backgroundColor = "pink";
		return false;
	}else{
	    phone.style.backgroundColor = "white";
    }

	if (dob.value.length > 1 && !dob.value.match(date))
	{
		dob.style.backgroundColor = "pink";
		return false;
	}else{
	    dob.style.backgroundColor = "white";
    }

    if (gender.value.length > 1 && !gender.value.match(letters))
	{
		gender.style.backgroundColor = "pink";
		return false;
	}else{
	    gender.style.backgroundColor = "white";
    }

    if (race.value.length > 1 && !race.value.match(letterspace))
	{
		race.style.backgroundColor = "pink";
		return false;
	}else{
	    race.style.backgroundColor = "white";
    }

	if (address.value.length > 1 && !address.value.match(letterNumber))
	{
		address.style.backgroundColor = "pink";
		return false;
	}else{
	    address.style.backgroundColor = "white";
    }

    if (city.value.length > 1 && !city.value.match(letters))
	{
		city.style.backgroundColor = "pink";
		return false;
	}else{
	    city.style.backgroundColor = "white";
    }

    if (state.value.length > 1 && !state.value.match(letters))
	{
		state.style.backgroundColor = "pink";
		return false;
	}else{
	    state.style.backgroundColor = "white";
    }

    if (zip.value.length > 1 && !zip.value.match(numbers))
	{
		zip.style.backgroundColor = "pink";
		return false;
	} else if(zip.value.length > 1 && zip.value.match(numbers) && zip.value.length > 5){
        zip.style.backgroundColor = "pink";
		return false;
    }else{
	    zip.style.backgroundColor = "white";
    }
    if (siblings.value.length > 1 && !siblings.value.match(letterspace))
	{
		siblings.style.backgroundColor = "pink";
		return false;
	}else{
	    siblings.style.backgroundColor = "white";
    }
    if (healthConditions.value.length > 1 && !healthConditions.value.match(letterspace))
	{
		healthConditions.style.backgroundColor = "pink";
		return false;
	}else{
	    healthConditions.style.backgroundColor = "white";
    }
    if (disability.value.length > 1 && !disability.value.match(letterspace))
	{
		disability.style.backgroundColor = "pink";
		return false;
	}else{
	    disability.style.backgroundColor = "white";
    }
    if (sn.value.length > 1 && !sn.value.match(letterspace))
	{
		sn.style.backgroundColor = "pink";
		return false;
	}else{
	    sn.style.backgroundColor = "white";
    }
    if (sd.value.length > 1 && !sd.value.match(letterspace))
	{
		sd.style.backgroundColor = "pink";
		return false;
	}else{
	    sd.style.backgroundColor = "white";
    }

    if (st.value.length > 1 && !st.value.match(letterspace))
	{
		st.style.backgroundColor = "pink";
		return false;
	}else{
	    st.style.backgroundColor = "white";
    }

    if (gif.value.length > 1 && !gif.value.match(letterNumber))
	{
		gif.style.backgroundColor = "pink";
		return false;
	}else{
	    gif.style.backgroundColor = "white";
    }

    if (gt.value.length > 1 && !gt.value.match(letters))
	{
		gt.style.backgroundColor = "pink";
		return false;
	}else{
	    gt.style.backgroundColor = "white";
    }

    if (ell.value.length > 1 && !ell.value.match(letters))
	{
		ell.style.backgroundColor = "pink";
		return false;
	}else{
	    ell.style.backgroundColor = "white";
    }

    if (graddate.value.length > 1 && !graddate.value.match(numbers))
	{
		graddate.style.backgroundColor = "pink";
		return false;
	} else if(graddate.value.length > 1 && graddate.value.match(numbers) && graddate.value.length > 4){
        graddate.style.backgroundColor = "pink";
		return false;
    }else{
	    graddate.style.backgroundColor = "white";
    }
    if (exphs.value.length > 1 && !exphs.value.match(letters))
	{
		exphs.style.backgroundColor = "pink";
		return false;
	}else{
	    exphs.style.backgroundColor = "white";
    }

    if (!dateofReg.value.match(date))
	{
		dateofReg.style.backgroundColor = "pink";
		return false;
	}else{
	    dateofReg.style.backgroundColor = "white";
    }

	return true;
}</script>

</head>
<body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Student Approval</a></li>
            <li role="presentation" class="active"><a href="#">Student Search</a></li>
            <li role="presentation"><a href="#">Courses</a></li>
            <li role="presentation"><a href="#">Export</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">UYP Summer 2019</h3>
      </div>

      <div class="jumbotron">
        <h1>Student Profile</h1>
        <form id="regist" name="RegForm" onsubmit="return validate()" action="{{ url_for('afterapplied') }}" method="post" class="form-signin">
            {% for user in data %}
                <h3>Students Information</h3>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputFirstName">FirstName</label>
                        <input type="text" name="firstName" id="inputFirstName" required="required" class="form-control" placeholder={{ user[3] }}>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputMiddleInitial">Middle Initial</label>
                        <input type="text" name="initial" class="form-control" id="inputMiddleInitial" placeholder={{ user[5] }}>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputLastName">Last Name</label>
                        <input type="text" name="lastName" class="form-control" id="inputLastName" required="required" placeholder={{ user[4] }}>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputSuffix">Suffix</label>
                        <input type="text" name="suffix" id="inputSuffix" class="form-control" placeholder={{ user[6] }}>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPreferredName">Preferred Name</label>
                        <input type="text" name="preferredName" class="form-control" id="inputPreferredName" placeholder={{ user[7] }}>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress">Address</label>
                        <input type="text" name="address" class="form-control" id="inputAddress" placeholder="{{ user[11] }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" name="city" class="form-control" id="inputCity" placeholder={{ user[12] }}>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" name="state" class="form-control">
                            <option selected>{{ user[13] }}</option>
                            <option value="AK">Alaska</option>
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="AZ">Arizona</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DC">District of Columbia</option>
                            <option value="DE">Delaware</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="IA">Iowa</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MD">Maryland</option>
                            <option value="ME">Maine</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MO">Missouri</option>
                            <option value="MS">Mississippi</option>
                            <option value="MT">Montana</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="NE">Nebraska</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NV">Nevada</option>
                            <option value="NY">New York</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VA">Virginia</option>
                            <option value="VT">Vermont</option>
                            <option value="WA">Washington</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WV">West Virginia</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">Zip</label>
                      <input type="text" name="zip" class="form-control" id="inputZip" placeholder={{ user[14] }}>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputDOB">Date of Birth</label>
                      <input type="text" name="dob" id="inputDOB" class="form-control" placeholder={{ user[8] }}>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputGender">Select Gender</label>
                      <select id="inputGender" name="gender" class="form-control">
                        <option selected>{{ user[9] }}</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputRace">Select Race</label>
                            <select id="inputRace" name="race" class="form-control">
                                <option selected>{{ user[10] }}</option>
                                <option value="AI">American Indian or Alaska Native</option>
                                <option value="A">Asian</option>
                                <option value="BAA">Black or African American</option>
                                <option value="NW">Native Hawaiian or Other Pacific Islander</option>
                                <option value="W">White</option>
                          </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail">Email</label>
                      <input type="text" name="email" id="inputEmail" class="form-control" placeholder={{ user[15] }}>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPhoneNumber">PhoneNumber </label>
                      <input type="text" name="phoneNumber" id="inputPhoneNumber" class="form-control" placeholder={{ user[16] }}>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputSiblings">Siblings in Program</label>
                      <input type="text" name="siblings" id="inputSiblings" class="form-control" placeholder={{ user[19] }}>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputHealthConditions">Health Conditions</label>
                      <input type="text" name="healthConditions" id="inputHealthConditions" class="form-control" placeholder={{ user[18] }}>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputDisabilityInfo">Disability Info</label>
                      <input type="text" name="disability" id="inputDisabilityInfo" class="form-control" placeholder={{ user[17] }}>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputSchoolName">School Name</label>
                      <input type="text" name="schoolName" id="inputSchoolName" class="form-control" placeholder="{{ user[20] }}">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputSchoolDistrict">School Dristrict </label>
                      <input type="text" name="schoolDistrict" id="inputSchoolDistrict" class="form-control" placeholder={{ user[21] }}>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputSchoolType">School Type</label>
                        <select id="inputGender" name="schoolType" class="form-control">
                            <option selected>{{ user[22] }}</option>
                            <option value="PU">Public School</option>
                            <option value="PR">Private School</option>
                            <option value="UN">Unsure</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputGradeInFall">Grade in Fall</label>
                        <select id="inputGradeInFall" name="gradeInFall" class="form-control">
                            <option selected>{{ user[23] }}</option>
                            <option value="FIF">5th</option>
                            <option value="SIX">6th</option>
                            <option value="SEV">7th</option>
                            <option value="EIG">8th</option>
                            <option value="NIN">9th</option>
                            <option value="TEN">10th</option>
                            <option value="ELE">11th</option>
                            <option value="TWE">12th</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputGT">GT</label>
                        <select id="inputGT" name="gt" class="form-control">
                            <option selected>{{ user[26] }}</option>
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                            <option value="U">Unsure</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputELL">English Language Learner</label>
                        <select id="inputELL" name="ell" class="form-control">
                            <option selected>{{ user[27] }}</option>
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                            <option value="U">Unsure</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputExpGradDate">Graduation Date</label>
                        <input type="text" name="gradDate" id="inputExpGradDate" class="form-control" placeholder={{ user[25] }}>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputExpHighSchool">Expected High School</label>
                        <input type="text" name="expHighSchool" id="inputExpHighSchool" class="form-control" placeholder={{ user[24] }}>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputDateOfRegistration">Date of Registration</label>
                        <input type="text" name="dateOfRegistration" id="inputDateOfRegistration" class="form-control" placeholder={{ user[1] }}>
                    </div>
                </div>
            {% endfor %}
            <br>
            <input id="btnSignUp" type="submit" class="btn btn-primary">
            <br>
            <br>
            <br>
        </form>
      </div>
    </div>
</body>
</html>