<!DOCTYPE html>
<html lang="en">

<head>
    <title>UYP Student Search</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/personnel_StudentSearch.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
function validate()
{
    var uName = document.forms["RegForm"]["studentUname"];

	var letters = /^[A-Za-z]+$/;
	var numbers = /^[0-9]+$/;
	var phoneno = /^\d{10}$/;
	var date =/^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;
	var letterNumber = /^[0-9a-zA-Z _]+$/;
	var letterspace = /^[A-Za-z, _]+$/;

    if (uName.length > 1 && !uName.value.match(letterNumber))
	{
	    uName.style.backgroundColor = "pink";
		return false;
	}else{
	    uName.style.backgroundColor = "white";
    }

	return true;
}</script>

</head>
<body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/personnelHome">Home</a></li>
            <li role="presentation"><a href="/showPersonnelApproval">Student Approval</a></li>
            <li role="presentation" class="active"><a href="/showStudentSearch">Student Search</a></li>
            <li role="presentation"><a href="/showPersonnelCourses">Courses</a></li>
            <li role="presentation"><a href = '/logout'>Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">UYP Summer 2019</h3>
      </div>

      <div class="jumbotron">
        <h1>Student Search</h1>
        <form id="regist" name="RegForm" onsubmit="return validate()" action="{{ url_for('afterStudentSearch') }}" method="post" class="form-signin">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="StudentUsername">Student Username</label>
                    <input type="text" name="studentUname" id="insertStudentUsername" class="form-control" placeholder="Student Username">
                </div>
            </div>
            <br>
            <input id="btnStudentSearch" type="submit" class="btn btn-primary">
            <br>
            <br>
            <br>
            <h3>Students</h3>
            {% for user in data %}
                <li>{{user[3]}} {{user[4]}} - Username: {{user[29]}}</li>
            {% endfor %}
        </form>
      </div>
    </div>
</body>
</html>