<!DOCTYPE html>
<html lang="en">

<head>
    <title>UYP Student Approval</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/personnelApproval.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
function validate()
{
	var aFname = document.forms["RegForm"]["aStudentFirstName"];
	var aLname = document.forms["RegForm"]["aStudentLastName"];
	var aUname = document.forms["RegForm"]["aStudentUname"];
	var rFname = document.forms["RegForm"]["rStudentFirstName"];
	var rLname = document.forms["RegForm"]["rStudentLastName"];
	var rUname = document.forms["RegForm"]["rStudentUname"];
	{#var yFname = document.forms["RegForm"]["authorizersFirstName"];#}
	{#var yLname = document.forms["RegForm"]["authorizersLastName"];#}
	{#var yUname = document.forms["RegForm"]["authorizersUname"];#}

	var letters = /^[A-Za-z]+$/;
	var numbers = /^[0-9]+$/;
	var phoneno = /^\d{10}$/;
	var date =/^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;
	var letterNumber = /^[0-9a-zA-Z _]+$/;
	var letterspace = /^[A-Za-z, _]+$/;

	if (aFname.value.length > 1 && !aFname.value.match(letters))
	{
	    aFname.style.backgroundColor = "pink";
		return false;
	}else{
	    aFname.style.backgroundColor = "white";
    }

    if (aLname.length > 1 && !aLname.value.match(letters))
	{
	    aLname.style.backgroundColor = "pink";
		return false;
	}else{
	    aLname.style.backgroundColor = "white";
    }

    if (aUname.length > 1 && !aUname.value.match(letterNumber))
	{
	    aUname.style.backgroundColor = "pink";
		return false;
	}else{
	    aUname.style.backgroundColor = "white";
    }

    if (rFname.length > 1 && !rFname.value.match(letters))
	{
	    rFname.style.backgroundColor = "pink";
		return false;
	}else{
	    rFname.style.backgroundColor = "white";
    }

    if (rLname.length > 1 && !rLname.value.match(letters))
	{
	    rLname.style.backgroundColor = "pink";
		return false;
	}else{
	    rLname.style.backgroundColor = "white";
    }

    if (rUname.length > 1 && !rUname.value.match(letterNumber))
	{
	    rUname.style.backgroundColor = "pink";
		return false;
	}else{
	    rUname.style.backgroundColor = "white";
    }

    {#if (yFname.length > 1 && !yFname.value.match(letters))#}
	{#{#}
	{#    yFname.style.backgroundColor = "pink";#}
	{#	return false;#}
	//else
	{#    yFname.style.backgroundColor = "white";#}
    //{}}
    {##}
    {#if (yLname.length > 1 && !yLname.value.match(letters))#}
	{#{#}
	{#    yLname.style.backgroundColor = "pink";#}
	{#	return false;#}
	//{}else{
	{#    yLname.style.backgroundColor = "white";#}
    //{
    {##}
    {#if (yUname.length > 1 && !yUname.value.match(letterNumber))#}
	{#{#}
	{#    yUname.style.backgroundColor = "pink";#}
	{#	return false;#}
	//{else{
	{#    yUname.style.backgroundColor = "white";#}
    //{

	return true;
}</script>

</head>
<body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/showPersonnelCourses">Home</a></li>
            <li role="presentation" class="active"><a href="/showPersonnelApproval">Student Approval</a></li>
            <li role="presentation"><a href="/showStudentSearch">Student Search</a></li>
            <li role="presentation"><a href="/showPersonnelCourses">Courses</a></li>
            <li role="presentation"><a href="#">Export</a></li>
            <li role="presentation"><a href = '/logout'>Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">UYP Summer 2019</h3>
      </div>

      <div class="jumbotron">
        <h1>Student Approval</h1>
        <form id="regist" name="RegForm" onsubmit="return validate()" action="{{ url_for('afterPersonnelApproval') }}" method="post" class="form-signin">
            <div class="form-row">
                <h4>Student You Want to Accept</h4>
                <div class="form-group col-md-3">
                    <label for="AcceptedStudentFirstName">Student First Name</label>
                    <input type="text" name="aStudentFirstName" id="insertAcceptedStudentFirstName" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group col-md-3">
                    <label for="AcceptedStudentLastName">Student Last Name</label>
                    <input type="text" name="aStudentLastName" id="insertAcceptedStudentLastName" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group col-md-3">
                    <label for="AcceptedStudentUname">Student Username</label>
                    <input type="text" name="aStudentUname" id="insertAcceptedStudentUname" class="form-control" placeholder="Student Username">
                </div>
                <br>
                <br>
                <br>
                <br>
                <h4>Student You Want to Reject</h4>
                <div class="form-group col-md-3">
                    <label for="RejectedStudentFirstName">Student First Name</label>
                    <input type="text" name="rStudentFirstName" id="insertRejectedStudentFirstName" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group col-md-3">
                    <label for="RejectedStudentLastName">Student Last Name</label>
                    <input type="text" name="rStudentLastName" id="insertRejectedStudentLastName" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group col-md-3">
                    <label for="RejectedStudentUname">Student Username</label>
                    <input type="text" name="rStudentUname" id="insertRejectedUname" class="form-control" placeholder="Student Username">
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
            <br>
            <input id="btnPersonnelApproval" type="submit" class="btn btn-primary">
            <br>
            <br>
            <br>
            <h3>All Students</h3>
            {% for user in data %}
                <li>{{user[3]}} {{user[4]}} - Username: {{user[29]}} - Status: {{user[2]}} - Approved By: {{user[28]}}</li>
            {% endfor %}
        </form>
      </div>
    </div>
</body>
</html>