<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UYP Sign Up</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">UYP Summer 2019</h3>
      </div>

      <div class="jumbotron">
        <h1>Sign Up</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>

        <label for="inputPreferredName" class="sr-only">Preferred Name</label>
        <input type="perferredname" name="inputPreferredName" id="inputPreferredName" class="form-control" placeholder="Preferred Name" required autofocus>

        <label for="inputAddress" class="sr-only">Address</label>
        <input type="address" name="inputAddress" id="inputAddress" class="form-control" placeholder="Address" required autofocus>

        <label for="inputCity" class="sr-only">City</label>
        <input type="city" name="inputCity" id="inputCity" class="form-control" placeholder="City" required autofocus>

        <label for="inputState" class="sr-only">State</label>
        <input type="state" name="inputState" id="inputState" class="form-control" placeholder="State" required autofocus>

        <label for="inputZip" class="sr-only">Zip</label>
        <input type="zip" name="inputZip" id="inputZip" class="form-control" placeholder="Zip" required autofocus>

        <label for="inputBirthdate" class="sr-only">Birthdate</label>
        <input type="birthdate" name="inputBirthdate" id="inputBirthdate" class="form-control" placeholder="Birthdate" required autofocus>

        <label for="inputGender" class="sr-only">Gender</label>
        <input type="gender" name="inputGender" id="inputGender" class="form-control" placeholder="Gender" required autofocus>
        <label class="radio-inline"><input type="radio" name="optradio">Female</label>
        <label class="radio-inline"><input type="radio" name="optradio">Male</label>

        <label for="inputRace" class="sr-only">Race</label>
        <input type="race" name="inputRace" id="inputRace" class="form-control" placeholder="Race" required autofocus>

        <label for="inputSchoolType" class="sr-only">School Type</label>
        <input type="schoolType" name="inputSchoolType" id="inputSchoolType" class="form-control" placeholder="School Type" required autofocus>
        <label class="radio-inline"><input type="radio" name="optradio1">Public School</label>
        <label class="radio-inline"><input type="radio" name="optradio1">Private School</label>
        <label class="radio-inline"><input type="radio" name="optradio1">Home Schooled</label>

        <label for="inputSchoolName" class="sr-only">School Name</label>
        <input type="schoolName" name="inputSchoolName" id="inputSchoolName" class="form-control" placeholder="School Name" required autofocus>

        <label for="inputGrade" class="sr-only">Grade</label>
        <input type="grade" name="inputGrade" id="inputGrade" class="form-control" placeholder="Grade" required autofocus>
        <label class="radio-inline"><input type="radio" name="optradio2">Grade 4</label>
        <label class="radio-inline"><input type="radio" name="optradio2">Grade 5</label>
        <label class="radio-inline"><input type="radio" name="optradio2">Grade 6</label>
        <label class="radio-inline"><input type="radio" name="optradio2">Grade 7</label>
        <label class="radio-inline"><input type="radio" name="optradio2">Grade 8</label>
        <label class="radio-inline"><input type="radio" name="optradio2">Grade 9</label>
        <label class="radio-inline"><input type="radio" name="optradio2">Grade 10</label>
        <label class="radio-inline"><input type="radio" name="optradio2">Grade 11</label>
        <label class="radio-inline"><input type="radio" name="optradio2">Grade 12</label>

        <label for="inputGraduationYear" class="sr-only">Graduation Year</label>
        <input type="graduationyear" name="inputGraduationYear" id="inputGraduationYear" class="form-control" placeholder="Expected Graduation Year" required autofocus>

        <label for="inputHighSchool" class="sr-only">High School</label>
        <input type="highschool" name="inputHighSchool" id="inputHighSchool" class="form-control" placeholder="Expected High School" required autofocus>

        <label for="inputGT" class="sr-only">GT</label>
        <input type="gt" name="inputGT" id="inputGT" class="form-control" placeholder="GT" required autofocus>
        <label class="radio-inline"><input type="radio" name="optradio3">Yes</label>
        <label class="radio-inline"><input type="radio" name="optradio3">No</label>
        <label class="radio-inline"><input type="radio" name="optradio3">Unsure</label>

        <label for="inputStudentsEmail" class="sr-only">Students Email address</label>
        <input type="studentsemail" name="inputStudentsEmail" id="inputStudentsEmail" class="form-control" placeholder="Student Email address" required autofocus>

        <label for="inputStudentPhoneNumber" class="sr-only">Student Phone Number</label>
        <input type="studentphonenumber" name="inputStudentPhoneNumber" id="inputStudentPhoneNumber" class="form-control" placeholder="Student Phone Number" required autofocus>

        <label for="inputSibling" class="sr-only">Sibling</label>
        <input type="sibling" name="inputSibling" id="inputSibling" class="form-control" placeholder="Sibling" required autofocus>


        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>
